/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@500..700;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }

  /* Layout: Mobile - 375px, Desktop: 1440px */
:root {
    /* Colors */
  
    /* Netural */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

}

body {
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
    background-color: var(--almost-white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  color: red;
}

.logo{
  display: flex;
  /* height: 18px; */
  height: 20px;
}


ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  color: red;
}

a {
  text-decoration: none;
  color: var(--medium-gray);
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left-nav a:hover,
.right-nav a:hover,
.right-nav button {
  color: var(--almost-black);
  cursor: pointer;
}

.right-nav {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.right-nav button {
  background: none;
  appearance: none;
  border: none;
  color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
  border-radius: 9px;
  padding: .4rem 1rem;
}

.right-nav button:hover {
  color: var(--almost-black);
  border-color: var(--almost-black);
}


footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }
