/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@500..700;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }

  /* Layout: Mobile - 375px, Desktop: 1440px */
:root {
    /* Colors */
  
    /* Netural */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

}

body {
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
    background-color: var(--almost-white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: red;
}

.logo{
  display: flex;
  /* height: 18px; */
  height: 20px;
}
nav img {
  /* width: 30px;
  height: 30px; */
  /* height: 22px; */
  /* font-size: 16px; */
}

ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  color: red;
}

a {
  text-decoration: none;
  color: var(--almost-black);
}

.left-nav {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.right-nav {
  font-size: 12px;
}


footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }
